.box-product-wrapper, .box-product {
  display: inline-block;
  width: 100%;
  max-width: var(--box-product-max-width);
  overflow: hidden;
}

.box-product .box-flags-rating {
  display: flex;
  flex-flow: column;
}

.box-product .box-flags-rating.-center {
  align-items: center;
}

.box-product:not(.-clear) {
  margin-bottom: 30px;
}

@media only screen and (min-width: 700px) {
  .box-product:hover .holder-image {
    opacity: var(--default-opacity);
  }
}

.box-product-link {
  display: block;
  font-size: 0;
}

.box-product.-center {
  text-align: center;
}

.box-product.-center .flex {
  justify-content: center;
}

.box-product .holder-image {
  position: relative;
  font-size: 0;
  transition: opacity 0.3s;
}

.box-product .holder-image img {
  width: 100%;
  max-height: var(--box-product-max-width);
}

.box-product .buy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 46px;
  height: 46px;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  border: 1px solid var(--black-lightest);
  cursor: pointer;
}

.box-product .buy-button:hover {
  background-color: var(--front-end-f5f5f5);
}

.relative-tags {
  position: relative;
}

.relative-tags .discount-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.relative-tags .holder-flags {
  position: absolute;
  width: 100%;
  padding: 0 6px;
  bottom: 6px;
}

.product-brand {
  height: 0.93rem;
  font-size: var(--font-11);
  color: var(--black-light);
  text-transform: uppercase;
}

.product-brand:first-child {
  margin-top: 31px;
}

.product-name {
  margin-top: 2px;
  line-height: 1.14;
  font-size: var(--font-15);
  color: var(--black-dark);
  min-height: 2.3em;
}

.product-name:first-child {
  margin-top: 32px;
}

.product-prices {
  margin-top: 6px;
}

.product-old-price {
  margin-right: 10px;
  line-height: 0.93rem;
  font-size: var(--font-11);
  margin-top: 1px;
}

.product-actual-price {
  line-height: 1.43rem;
  font-size: var(--font-17);
}

.installment-text {
  font-size: var(--font-13);
  line-height: 1.08rem;
  margin-top: 2px;
  color: var(--black-medium);
}

.installment-text .price {
  color: var(--black-medium);
  font-weight: var(--font-medium);
}

.-loading:not(.box-product-wrapper):not(.splide__slide):not(img.loaded), .-loading > .box-product .holder-image, .-loading > .box-product .product-brand, .-loading > .box-product .product-name, .-loading > .box-product .product-prices {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
  background-size: 800px 104px;
  opacity: 0.4;
}

.-loading:not(.box-product-wrapper):not(.splide__slide):not(img.loaded):not(img), .-loading > .box-product .holder-image:not(img), .-loading > .box-product .product-brand:not(img), .-loading > .box-product .product-name:not(img), .-loading > .box-product .product-prices:not(img) {
  position: relative;
}

.-loading:not(.box-product-wrapper):not(.splide__slide):not(img.loaded) img, .-loading > .box-product .holder-image img, .-loading > .box-product .product-brand img, .-loading > .box-product .product-name img, .-loading > .box-product .product-prices img, .-loading:not(.box-product-wrapper):not(.splide__slide):not(img.loaded) .discount-tag, .-loading > .box-product .holder-image .discount-tag, .-loading > .box-product .product-brand .discount-tag, .-loading > .box-product .product-name .discount-tag, .-loading > .box-product .product-prices .discount-tag {
  opacity: 0;
}

.-loading:not(.box-product-wrapper):not(.splide__slide):not(img.loaded), .-loading > .box-product .holder-image, .-loading > .box-product .product-brand, .-loading > .box-product .product-name, .-loading > .box-product .product-prices, .-loading:not(.box-product-wrapper):not(.splide__slide):not(img.loaded) *, .-loading > .box-product .holder-image *, .-loading > .box-product .product-brand *, .-loading > .box-product .product-name *, .-loading > .box-product .product-prices * {
  color: transparent !important;
  pointer-events: none;
}

.-loading .product-prices div:last-child:before {
  content: "_x de R$___,__ ___ _____";
}

.average-rating-container {
  display: flex;
  margin: 11px 0 0;
}

@media screen and (max-width: 700px) {
  .average-rating-container {
    margin: 12px 0 0;
  }
}

.average-rating-container:first-child {
  margin-top: 28px;
}

.average-rating-container:not(.is-grid):hover {
  cursor: pointer;
  text-decoration: underline;
}

.average-rating-container.-center {
  justify-content: center;
}

.average-rating-container .icon {
  margin-top: 0;
  margin-right: 3px;
  background-size: 15px;
  height: 15px;
}

.average-rating-amount {
  display: inline-block;
  font-size: var(--font-12);
  color: var(--black-medium);
  line-height: 15px;
  margin-left: 5px;
}

.is-grid {
  margin: 5px 0px 4px;
}

.is-grid .average-rating-amount {
  display: inline-block;
  font-size: var(--font-12);
  color: var(--black-light);
  line-height: 18px;
  margin-left: 3px;
}

.is-grid .icon {
  margin-top: 3px;
  margin-right: 1px;
  background-size: 12px;
}
