.mini-cart-holder {
  --width: 420px;
  --side-padding: 32px;
  position: relative;
  width: 55px;
}

.mini-cart-holder .dropdown-holder {
  display: flex;
  padding: 10px 0;
  cursor: pointer;
}

.mini-cart-holder svg {
  margin-right: 8px;
}

.mini-cart-holder .dropdown {
  top: 49px;
  right: 0;
  width: var(--width);
  z-index: 3;
}

.mini-cart-holder .dropdown:after, .mini-cart-holder .dropdown:before {
  right: 28px;
}

.mini-cart-holder .dropdown .empty-cart {
  padding: 69px 68px 64px;
  text-align: center;
  color: var(--black-light);
  line-height: 1.4;
  width: 100%;
}

.mini-cart-holder .dropdown .empty-cart .-title {
  font-size: var(--font-18);
}

.mini-cart-holder .dropdown .empty-cart .-subtitle * {
  font-size: var(--font-15);
  color: var(--black-light);
}

.mini-cart-holder .dropdown .empty-cart i {
  margin-bottom: 19px;
}

.mini-cart-holder .dropdown .empty-cart .-cta-holder {
  display: flex;
  justify-content: center;
}

.mini-cart-holder .dropdown .empty-cart .-cta {
  background-color: var(--black-medium);
  border-radius: var(--theme-border-radius);
  color: var(--white);
  cursor: pointer;
  display: flex;
  font-weight: var(--font-bold);
  justify-content: center;
  margin-top: 25px;
  max-width: 280px;
  padding: 18px 17px;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 0.3s;
  width: 100%;
}

.mini-cart-holder .dropdown .empty-cart .-cta:hover {
  opacity: var(--default-opacity);
}

.cart-quantity {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  background-color: var(--color-general-primary);
  color: white;
  font-size: 12px;
  font-weight: var(--font-bold);
}

.cart-header {
  margin-bottom: 20px;
}

.cart-header .-title {
  color: var(--black-medium);
  font-size: var(--font-12);
  line-height: var(--font-12);
}

.products-cart {
  cursor: initial;
  padding: 30px var(--side-padding) 24px;
}

.products-cart .btn {
  margin-top: 20px;
}

.cart-products-list {
  overflow: auto;
  overflow-x: hidden;
  max-height: 200px;
  margin-right: calc(var(--side-padding) * -1);
}

.btn-cart-product {
  text-transform: uppercase;
}

.holder-account .dropdown {
  right: 50%;
  top: 49px;
  min-width: 180px;
  padding: 23px 35px 23px 25px;
  transform: translateX(50%);
}

.holder-account .dropdown:after, .holder-account .dropdown:before {
  left: 50%;
  transform: translateX(-50%);
}

.holder-account .dropdown a {
  white-space: nowrap;
  padding: 1px 0;
}

.holder-account .dropdown .icon {
  margin-right: 7px;
  min-width: 32px;
}

.cart-value {
  line-height: var(--font-12);
}

.buy-together-cart-group__container {
  position: relative;
  border: 1px dashed var(--black-medium);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 16px 12px 12px;
  margin: 11px 1px 21px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 450px) {
 .buy-together-cart-group__container {
   margin: 5px 1px 21px;
  }
}

.buy-together-cart-group-title {
 display: block;
 width: fit-content;
 margin: -23px -20px 0 12px;
 background-color: var(--white);
 font-weight: var(--font-bold);
 font-size: var(--font-11);
 line-height: 13px;
 color: #222;
 text-align: center;
 padding: 0 3px;
}

.buy-together-total-value {
  display: flex;
  flex-flow: column nowrap;
  order: 1;
  background-color: var(--front-end-f5f5f5);
  padding: 8px 0 7px;
  border-radius: 5px;
}

.buy-together-total-value .row {
  display: flex;
  justify-content: center;
}

.buy-together-total-value .text {
  display: inline-block;
  text-align: center;
  margin: 0 2px;
}

.buy-together-total-value .discount-original-value {
  color: var(--black-light);
  text-decoration: line-through;
  font-size: var(--font-12);
  line-height: 14px;
}

.buy-together-total-value .after-discount-value {
  color: var(--color-general-primary);
  font-size: var(--font-14);
  line-height: 14px;
  font-weight: var(--font-bold);
}

.buy-together-total-value .discount-percent {
  font-size: var(--font-12);
  line-height: 14px;
  color: var(--black-dark);
}

.side-cart-remove {
  position: absolute;
  top: 6px;
  right: 12px;
  cursor: pointer;
  width: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.side-cart-remove .remove-text {
  text-transform: uppercase;
  text-align: center;
  font-size: 9px;
  color: var(--black-light);
  margin: -10px 0;
}

.product-cart-box__container {
  display: flex;
  flex-flow: column;
  margin: 21px 0 21px 0;
  width: 100%;
}

.product-cart-box__container:first-child {
  margin: 10.5px 0 21px 0;
}

.product-cart-box__container--combo {
  display: flex;
  margin: 9px 0 10px 0;
}

.product-cart-box__metadata {
  display: flex;
}

.product-cart-box__holder-image {
  min-width: 60px;
  margin: 0 8px 0 0;
}

.product-cart-box__text--holder-info {
  font-size: var(--font-12);
  flex: 1;
}

@media screen and (max-width: 450px) {
  .product-cart-box__text--holder-info {
    width: 120px;
  }
}

.product-cart-box__holder-actions {
  width: 100px;
  text-align: center;
}

.product-cart-box__text--product-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
  font-size: var(--font-12);
  line-height: calc(var(--font-12) + 1);
  color: #222;
  margin: 0 0 3px;
  padding: 0 24px 0 0;
}

.product-cart-box__text--remove {
  cursor: pointer;
  margin: 7px 0 0 0;
  font-size: var(--font-12);
  line-height: 14px;
  text-transform: uppercase;
  color: var(--black-light);
}

.product-cart-box__text--product-extra {
  font-size: var(--font-12);
  line-height: 14px;
  color: var(--black-medium);
  overflow: hidden;
  word-break: break-all;
  padding: 0px 5px 0 0;
  margin: 0 0 3px 3px;
}

.product-cart-box__text--sku {
  font-size: var(--font-12);
  line-height: 14px;
  color: var(--black-medium);
  list-style-type: disc;
  padding-inline-start: 0ch;
  margin: 0 0 0 16px;
  word-break: break-all;
}

.product-cart-box__text--customization {
  font-weight: var(--font-bold);
  font-size: var(--font-12);
  line-height: 14px;
  text-transform: uppercase;
  color: var(--black-medium);
  margin: 2px 0 1px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-cart-box__text--customization--price {
  font-weight: var(--font-regular);
  font-size: var(--font-12);
  line-height: 14px;
  text-transform: uppercase;
  text-align: right;
  color: var(--black-dark);
}

.product-cart-box__text--quantity {
  font-weight: var(--font-regular);
  font-size: var(--font-12);
  line-height: 14px;
  text-transform: uppercase;
  color: var(--black-light);
  margin: 6px 10px 10px 0;
  display: inline-block;
}

.product-cart-box__text--price {
  font-weight: var(--font-bold);
  font-size: var(--font-14);
  line-height: 14px;
  color: var(--color-general-primary);
}

.product-cart-box__text--price-discount {
  font-weight: var(--font-regular);
  font-size: var(--font-11);
  text-decoration-line: line-through;
  color: var(--black-light);
}

.product-cart-box__text--error {
  background: #ffebef;
  border-radius: var(--theme-border-radius);
  font-size: var(--font-12);
  color: var(--error-color);
  padding: 7px 11px;
  margin: 9px auto;
  text-align: center;
}

@media screen and (max-width: 414px) {
  .product-cart-box__text--error {
    font-size: var(--font-11);
  }
}

@media screen and (max-width: 390px) {
  .product-cart-box__text--error {
    font-size: var(--font-10);
  }
}

.product-cart-box__discount-tag {
  width: 135px;
  height: 19px;
  background-color: rgba(0, 0, 0, );
  border-radius: var(--theme-border-radius);
  text-align: center;
}

.product-cart-box__discount-tag-text {
  color: var(--color-btn-primary-background-outline);
  font-size: var(--font-11);
  line-height: 19px;
}

.quantity-selector {
  position: relative;
  display: inline-block;
}

.quantity-selector.disabled * {
  opacity: 0.5;
  pointer-events: none;
}

.quantity-selector input {
  text-align: center;
  font-size: var(--font-16);
  height: 50px;
}

.quantity-btn {
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
  background: 0;
  position: absolute;
  cursor: pointer;
  font-size: 0;
  z-index: 1;
  top: 0;
}

.quantity-btn svg {
  pointer-events: none;
  margin: 0;
}

.quantity-btn.minus {
  padding: 24px 0 24px 16px;
  left: 0;
}

.quantity-btn.plus {
  padding: 18px 16px 18px 0;
  right: 0;
}

.buy-together-dropdown {
  margin: 0 17px 0 0;
}

.is-preview {
  pointer-events: none;
}

.side-cart-total-value {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: space-between;
}

.side-cart-row {
  display: flex;
  justify-content: space-between;
}

.side-cart-row.cart-savings {
  margin-bottom: 21px;
}

.side-cart-total-text {
  font-size: var(--font-12);
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-medium);
}

.side-cart-subtotal, .side-cart-subtotal-after-discounts {
  font-weight: var(--font-bold);
  font-size: var(--font-14);
  line-height: 18px;
  color: var(--black-medium);
}

dropdown-cart .side-cart-total-value {
  margin-top: 21px;
}

dropdown-cart .cart-savings {
  margin-top: 15px;
}

dropdown-cart[data-show-cart-savings="true"] .cart-value.price {
  display: none;
}

dropdown-cart hr {
  margin: 0;
}

dropdown-cart .product-cart-box__container {
  max-width: calc(var(--width) - 2px - 2* var(--side-padding));
}

.side-cart-subtotal-after-discounts {
  color: var(--color-general-primary);
  font-size: var(--font-16);
}

.navigation-drawer-background {
  background-color: rgba(var(--black-dark-rgb),.7);
  overflow: auto;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.navigation-drawer-background.active {
  opacity: 1;
  visibility: visible;
}

.navigation-drawer-background .empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.navigation-drawer-background .empty-cart .icon-empty-cart {
  align-self: center;
}

.navigation-drawer-container {
  position: fixed;
  right: 0;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  transition: transform .3s ease-in-out;
  transform: translateX(100%);
}

.navigation-drawer-background.active .navigation-drawer-container {
  transform: translateX(0);
}

.navigation-drawer {
  width: clamp(329px,85vw,404px);
  height: 100%;
  background-color: var(--white);
}

.navigation-drawer hr {
  margin: 0 -35px 20px;
}

.side-cart-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.side-cart-header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 28px 35px 36px;
}

.side-cart-content .cart-products-list {
  padding: 0 35px;
  height: calc(100vh - 332px);
  max-height: unset;
}

.side-cart-content .product-cart-box__text--quantity {
  display: none;
}

.side-cart-title {
  font-size: var(--font-25);
  line-height: 34px;
  color: var(--black-dark);
}

.side-cart-button-container {
  margin: 0 auto;
  background-color: var(--white);
  padding: 22px 35px 30px;
  border-top: 1px solid var(--default-background-color);
}

.side-cart-button-container .side-cart-total-value {
  margin-bottom: 15px;
}

.side-cart-button-container .side-cart-total-value.-subtotal {
  margin-bottom: 22px;
}

.side-cart-button-container .side-cart-button {
  width: 100%;
  height: 50px;
  line-height: 26px;
}

.side-cart-savings-price, .side-cart-savings-text {
  line-height: 18px;
  color: var(--color-btn-primary-background-outline)
}

.side-cart-savings-text {
  font-size: var(--font-12);
  text-transform: uppercase
}

.side-cart-savings-price {
  font-weight: var(--font-bold);
  font-size: var(--font-14)
}

.side-cart-header .close-modal {
  height: 45px;
  width: 45px;
  cursor: pointer;
}

.product-cart-box__discount-tag {
  width: 135px;
  height: 19px;
  background-color: rgba(var(--color-btn-primary-background-rgb),.1);
  border-radius: var(--theme-border-radius);
  text-align: center;
  margin-top: 8px;
}

.product-cart-box__discount-tag-text {
  color: var(--color-btn-primary-background-outline);
  font-size: var(--font-11);
  line-height: 19px;
}

@media screen and (max-width: 700px) {
  .side-cart-header {
    padding: 13px 20px 11px;
  }
  
  .side-cart-content .cart-products-list {
    padding: 0 20px;
  }

  .side-cart-button-container {
    padding: 32px 20px 0;
  }

  .navigation-drawer hr {
    margin-left: -20px;
    margin-right: -20px;
  }
}