.buy-together input {
	height: 50px;
	margin: 0 0 7px;
}

.buy-together .products-customization {
	background-color: var(--front-end-white);
	border-radius: var(--theme-border-radius);
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	font-style: normal;
	font-weight: var(--font-medium);
	height: 75px;
	justify-content: center;
	line-height: var(--font-16);
	width: 100%;
}

.buy-together .products-customization .already-customized-products {
	margin: 20px 0 7px;
}

.buy-together .products-customization .none-products {
	margin: 20px 20px 7px;
}

.buy-together .products-customization.error {
	background-color: var(--light-error-color);
	border: 1px solid var(--error-color);
	color: var(--error-color);
}

.buy-together .products-customization.error span {
	color: var(--error-color);
}

.buy-together .products-customization.error .helper-text {
	color: var(--error-color);
}

.buy-together .products-customization.error .none-products {
	margin-bottom: 7px;
	margin-top: 12px;
	padding: 0 13px;
}

.buy-together .products-customization.error .already-customized-products {
	margin: 20px 0 7px;
}

.buy-together .products-customization p {
	font-size: var(--font-14);
	line-height: 16px;
	text-align: center;
}

.buy-together .products-customization span {
	color: var(--color-general-primary);
	font-weight: var(--font-bold);
}

.buy-together .products-customization .helper-text {
	color: var(--black-medium);
	font-size: var(--font-12);
	font-weight: var(--font-medium);
	height: 10px;
	line-height: 10px;
	margin-bottom: 10px;
}

.buy-together .products-customization:hover {
	opacity: 0.7;
}

.buy-together .theme-title {
	margin-bottom: 31px;
	text-align: center;
}

.buy-together-product {
	flex: 1;
	max-width: var(--box-product-max-width);
}

@media (max-width: 576px) {
	.buy-together-product {
		max-width: 44vw;
	}
}

.buy-together-product img {
	width: 100%;
	object-fit: contain;
	height: 275px;
}

@media only screen and (max-width: 700px) {
	.buy-together-product img {
		height: 170px;
	}
}

.buy-together-quantity {
	color: var(--black-light);
	font-size: var(--font-12);
	margin-top: 12px;
	text-transform: uppercase;
}

.buy-together-product-name {
	height: 50px;
	margin-top: 8px;
}

.buy-together-product-name > p {
	-webkit-box-orient: vertical;
	color: var(--black-medium);
	display: -webkit-box;
	font-size: var(--font-15);
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}

.buy-together-total {
	align-self: flex-start;
	background: var(--default-background-color);
	border-radius: var(--theme-border-radius);
	max-height: 339px;
	padding: 48px 64px;
	text-align: center;
	width: 388px;
}

.buy-together-total .total-value {
	color: var(--black-light);
	font-size: var(--font-14);
	line-height: var(--font-18);
	margin-bottom: 7px;
}

.buy-together-total .final-value {
	font-size: var(--font-30);
	line-height: 20px;
}

.buy-together-total .final-value .payment-type {
	font-size: var(--font-16);
}

.buy-together-total .discount-value {
	font-size: var(--font-18);
	line-height: 18px;
	margin: 13px auto 14px;
}

@media only screen and (max-width: 700px) {
	.buy-together .buy-together-equal {
		display: none;
	}
}

.buy-together-plus, .buy-together-equal {
	align-self: flex-start;
	padding-top: 10%;
	margin: 0 14px 0 14px;
}

.buy-together-plus svg, .buy-together-equal svg {
	width: 35px;
  height: 35px;
  fill: #999999;
}

@media only screen and (max-width: 700px) {
	.buy-together-plus, .buy-together-equal {
		padding: 13% 0 0 0;
		margin: 0 8px 0 8px;
	}

	.buy-together-plus .icon-big-plus, .buy-together-equal .icon-big-plus {
		width: 12px;
		height: 12px;
	}
}

@media only screen and (max-width: 700px) {
	.buy-together-offer {
		flex-wrap: wrap;
	}
}

.buy-together-offer.-center-box .buy-together-product {
	text-align: center;
}

.buy-together-offer.-center-box .buy-together-product .custom-select {
	text-align: left;
}

.buy-together-offer + .buy-together-offer {
	border-top: solid 1px var(--default-background-color);
	margin-top: 50px;
	padding-top: 50px;
}

.buy-together-offer.-three .icon-big-plus {
	height: 25px;
	width: 25px;
}

@media only screen and (max-width: 700px) {
	.buy-together-offer.-three .icon-big-plus {
		width: 12px;
		height: 12px;
	}
}

.buy-together-offer.-three .icon-big-equal {
	height: 15px;
	width: 25px;
}

.buy-together .sku-option {
	margin-top: 10px;
	text-align: left;
}

.buy-together .sku-option .custom-select {
	width: 100%;
}

.buy-together .sku-select {
	margin-bottom: 25px;
}

.buy-together .sku-select .helper-text {
	font-size: var(--font-14);
	line-height: 1.15;
	margin-bottom: 14px;
	margin-top: 16px;
}

.buy-together .sku-select .helper-text.-error {
	color: var(--error-color);
}

.buy-together .radio-optional-customization {
	color: var(--black-dark);
	font-size: var(--font-15);
	font-weight: var(--font-medium);
	margin-bottom: 22px;
	text-align: start;
}

.buy-together .modal-content .buy-together-modal-form {
	height: 20rem;
	overflow-y: auto;
}

.buy-together .modal-content .product-description {
	background-color: var(--default-background-color);
	border-radius: var(--theme-border-radius);
	display: flex;
	margin: 0 auto 30px;
	padding: 16px 25px 17px;
	width: 100%;
}

.buy-together .modal-content .product-description img {
	height: 60px;
	margin: 0 15px 0 0;
	width: 60px;
}

.buy-together .modal-content .product-description .text {
	overflow: hidden;
	text-align: start;
	white-space: nowrap;
	width: 100%;
}

.buy-together .modal-content .product-description .text .sku-title {
	color: var(--color-general-primary);
	font-size: var(--font-14);
	font-weight: var(--font-medium);
	margin-bottom: 3px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.buy-together .modal-content .product-description .text ul {
	list-style-type: none;
}

.buy-together .modal-content .product-description .text ul li {
	color: var(--black-medium);
	font-size: var(--font-12);
	font-weight: var(--font-medium);
	margin-left: 12px;
}

.buy-together .modal-content .product-description .text ul li::before {
	background-color: var(--black-medium);
	border-radius: 50%;
	content: '';
	display: inline-block;
	height: 5px;
	margin: 1px 5px 1px 0;
	width: 5px;
}

.buy-together .modal-content .control-button {
	display: flex;
	justify-content: flex-end;
	padding: 20px 40px 20px 0;
}

@media (max-width: 576px) {
	.buy-together .modal-content .control-button {
		padding: 20px 20px 20px 0;
	}
}

