.holder-newsletter {
  padding: 43px 10px 50px;
  background-color: var(--default-background-color);
  border-radius: var(--theme-border-radius);
  text-align: center;
}

.holder-newsletter-form {
  display: inline-block;
  margin-top: 24px;
  max-width: 647px;
  width: 100%;
  min-height: 45px;
}

.holder-newsletter .title {
  color: var(--color-general-secundary);
}

.holder-newsletter + .holder-footer {
  margin-top: 41px;
  padding-top: 41px;
}

#form-newsletter {
  display: flex;
}

#form-newsletter .btn {
  min-width: 215px;
  max-width: 215px;
  margin-left: 16px;
  white-space: nowrap;
  padding-left: 20px;
  padding-right: 20px;
  align-self: flex-start;
}

#form-newsletter .holder-input {
  width: 100%;
  text-align: left;
}

.footer.-full-columns {
  --column-max-width: 220px;
  --column-contact-max-width: 180px;
  --default-flex: 0 1 auto;
  --right-column-justify: space-between;
}

.footer:not(.-full-columns) {
  --column-max-width: 280px;
  --column-contact-max-width: 320px;
  --default-flex: 1 0 auto;
  --right-column-justify: flex-end;
}

.footer.top-line {
  border-top: solid 1px var(--default-background-color);
}

.footer.top-line .holder-footer {
  padding-top: 85px;
}

.footer .holder-footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-font-color);
}

.footer .holder-footer-logo {
  flex: 1 0 180px;
  max-width: 300px;
}

.footer .holder-footer-logo .logo+.-description {
  margin-top: 30px;
}

.footer .holder-footer-logo .-description {
  color: var(--footer-opacity-color);
  font-size: var(--font-14);
  line-height: 1.43;
}

.footer .holder-footer-logo+.holder-footer-info {
  justify-content: var(--right-column-justify);
}

.footer .holder-footer-logo+.holder-footer-info .-categories+.-pages+.holder-contact+.holder-social-media {
  max-width: 96px;
}

.footer .holder-footer-info {
  flex: 1 0 auto;
  max-width: 100%;
  justify-content: space-evenly;
}

.footer .holder-footer-info>*+* {
  margin-left: 30px;
}

.footer .holder-footer-info>div:not(.holder-contact):not(.holder-social-media) {
  flex: var(--default-flex);
  max-width: var(--column-max-width);
}

.footer .holder-footer .title {
  font-weight: var(--font-bold);
  font-size: var(--font-16);
  margin-bottom: 11px;
}

.footer .holder-footer .section-1,
.footer .holder-footer .section-3 {
  max-width: 1100px;
  margin: 0 auto;
}

.footer .holder-footer .section-1 {
  padding-bottom: 80px;
}

.footer .holder-footer .section-1>*+* {
  margin-left: 80px;
}

.footer .holder-footer .section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
}

.footer .holder-footer .section-3 {
  border-top: solid 1px var(--footer-hr-color);
  padding-top: 25px;
  padding-bottom: 33px;
}

.footer .holder-footer .section-3.-hcenter .holder-store-address {
  text-align: center;
}

.footer .holder-cards {
  font-size: 0;
}

.footer .holder-cards ul li {
  margin: 0 6px;
}

.footer .holder-cards+.icon {
  margin-left: 30px;
}

.footer .-contact {
  margin-bottom: 20px;
  white-space: nowrap;
}

.footer .-contact .contact-phone,
.footer .-contact .contact-whatsapp {
  font-size: var(--font-20);
}

.footer .-contact .contact-phone+.contact-email,
.footer .-contact .contact-whatsapp+.contact-email {
  margin-top: -7px;
  margin-bottom: 7px;
}

.footer .-contact .contact-phone svg {
  margin-right: 9px;
  margin-bottom: -1px;
  fill: var(--footer-font-color);
}

.footer .-contact .contact-whatsapp svg {
  margin-right: 8px;
  margin-bottom: -2px;
  fill: var(--footer-font-color);
}

.footer .holder-contact {
  align-self: flex-start;
  flex: var(--default-flex);
  max-width: var(--column-contact-max-width);
}

.footer .holder-social-media {
  width: auto;
  font-size: 0;
}

.footer .holder-social-media ul {
  margin: -8px;
}

.footer .social-media {
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  text-align: center;
  color: var(--footer-font-color);
  border: solid 1px var(--footer-font-color);
  transition: background-color 0.3s, color 0.3s;
}

.footer .social-media:hover {
  background-color: var(--footer-font-color);
  color: var(--footer-bg-color);
}

.footer .social-media a {
  display: block;
  padding: 0;
  line-height: 40px;
}

.footer .social-media svg {
  font-size: 16px;
  line-height: 37px;
  height: 38px;
}

.social-media.-facebook svg {
  width: 10px;
}

.social-media.-instagram svg {
  width: 14px;
}

.social-media.-youtube svg {
  width: 18px;
}

.social-media.-pinterest svg {
  width: 12px;
}

.social-media.-tiktok svg {
  width: 14px;
}

.social-media.-twitter svg {
  width: 15px;
}

.footer .holder-store-address {
  color: var(--footer-opacity-color);
  font-size: var(--font-12);
  line-height: 20px;
}

.footer .holder-store-address .divisor+span:empty+.divisor {
  display: none;
}

.footer .holder-store-address .address-complement:not(:empty):before {
  content: ", ";
}

.footer .holder-yampi {
  align-items: center;
}

.footer .holder-yampi span {
  margin-right: 10px;
  color: var(--footer-opacity-color);
  font-size: var(--font-12);
}

@media only screen and (min-width: 701px) {
  .footer .holder-footer .title svg {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .holder-newsletter {
    padding: 33px 24px 40px;
    font-size: 0;
  }
  
  #form-newsletter {
    flex-wrap: wrap;
  }
  
  #form-newsletter > * + * {
    margin-top: 16px !important;
  }
  
  #form-newsletter .btn {
    display: block;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
  
  .footer.top-line {
    padding-top: 50px;
  }
  
  .footer .holder-footer .logo {
    text-align: center;
    max-width: 100%;
    width: 100%;
  }
  
  .footer .holder-footer .logo img {
    display: inline-block;
  }
  
  .footer .holder-footer .-description {
    padding-left: 51px;
    padding-right: 51px;
    text-align: center;
    font-size: var(--font-13);
  }
  
  .footer .holder-footer .title svg {
    fill: var(--footer-font-color);
    transition: transform 0.3s;
  }
  
  .footer .holder-footer .holder-footer-logo {
    max-width: none;
  }
  
  .footer .holder-footer .holder-footer-logo + .holder-footer-info {
    margin-top: 34px;
  }
  
  .footer .holder-footer .holder-footer-info {
    flex: 1 0 100%;
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: 0;
  }
  
  .footer .holder-footer .holder-footer-info > * + *:not(.holder-social-media) {
    margin-top: 16px;
    margin-left: 0;
  }
  
  .footer .holder-footer .holder-footer-info > div {
    width: 100%;
    max-width: 100% !important;
    flex: 1 0 auto !important;
  }
  
  .footer .holder-footer .section-1,
  .footer .holder-footer .section-2 {
    padding-bottom: 50px;
  }
  
  .footer .holder-footer .section-1 {
    flex-wrap: wrap;
  }
  
  .footer .holder-footer .section-2 {
    display: block;
  }
  
  .footer .holder-footer .section-3 {
    flex-wrap: wrap;
    text-align: center;
    padding: 27px;
  }
  
  .footer .holder-social-media {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  
  .footer .holder-social-media:not(:first-child) {
    margin-top: 36px;
  }
  
  .footer .holder-social-media:first-child {
    margin-top: 16px;
  }
  
  .footer .-contact {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
  }
  
  .footer .holder-cards + .icon {
    margin: 18px 0 0;
  }
  
  .footer .holder-cards ul {
    padding: 0 32px;
  }
  
  .footer .holder-cards ul li {
    margin-bottom: 14px;
  }
  
  .footer .holder-store-address {
    width: 100%;
  }
  
  .footer .holder-store-address + .holder-yampi {
    margin-top: 27px;
  }
  
  .footer .holder-yampi {
    width: 100%;
    justify-content: center;
  }

  .footer .holder-footer .expandable-holder {
    display: block;
    height: 55px;
    --expandable-padding: 24px;
    position: relative;
    border: solid 1px var(--footer-opacity-color);
    padding: 0 var(--expandable-padding);
    border-radius: var(--theme-border-radius);
    overflow: hidden;
    transition: height .3s;
  }

  .footer .holder-footer .expandable-holder .title {
    padding: 17px 0;
    margin-bottom: 0;
  }
  
  .footer .holder-footer .expandable-holder[expanded="true"] .title svg {
    transform: rotate(-180deg);
  }
  
  .footer .holder-footer .expandable-holder li:last-child {
    margin-bottom: 17px;
  }
  
  .footer .holder-footer .expandable-holder li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}