body:not(.home) .header {
	border-bottom: solid 1px var(--black-lightest);
} 

.section-header {
	z-index: 3;
}

.header {
	position: relative;
	background-color: var(--header-bg-color);
	color: var(--header-font-color);
}

.logo {
  flex: 0 1 auto;
  font-size: 0;
  width: 150px;
}

.logo img {
  max-width: 150px;
  max-height: 150px;
}

.header svg {
	fill: var(--header-font-color);
}

.header-hightlightbar {
	position: relative;
	text-align: center;
	padding: 10px;
	background-color: #000;
	color: #fff;
}

.header-topbar {
	background-color: var(--default-background-color);
	padding: 5px 0;
	line-height: 1.68;
	color: var(--black-dark);
	font-size: var(--font-12);
}

.header-topbar .icon {
	margin-right: 7px;
}

.header-topbar .header-topbar-contact-phone, .header-topbar .header-topbar-contact-whatsapp {
	margin-left: 12px;
}

.header-topbar .phone-link {
	margin-right: 14px;
}

.contact-whatsapp.green {
	 color: var(--green);
}
 .contact-whatsapp.green svg {
	 fill: var(--green);
}

.header-topbar svg.icon-whatsapp {
	width: 14px;
	height: 14px;
	margin-right: 7px;
}

.header-topbar .icon-phone {
	width: 11px;
	height: 11px;
}

.header-content {
	display: flex;
  align-items: center;
	padding: 25px 0 25px;
}

@media only screen and (min-width: 701px) {
  .header-content > * + *:not(.logo) {
  	margin-left: 20px;
  }
}

.header-content:not(.-center) .logo {
	padding-bottom: 9px;
	margin-right: 10px;
}

.header-content.-center {
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}

.header-content.-center .logo {
	margin-left: 50%;
	margin-right: auto;
	transform: translateX(-50%);
}

.header-content.-center .categories {
	order: 1;
	margin-top: 22px;
	margin-left: 0;
	flex-basis: 100%;
	text-align: center;
	min-width: 100%;
}

@media screen and (max-width: 750px) {
	.header-content.-center.-drop-menu .logo {
		flex: 1;
		margin-left: calc(25% - 37px);
	}
}

@media screen and (min-width: 750px) {
	.header-content.-center.-drop-menu {
		justify-content: space-between;
	}

	.header-content.-center.-drop-menu .logo {
		margin-left: unset;
		margin-right: unset;
		transform: translateX(0%);
	}

	.header-content.-center.-drop-menu .holder-search {
		max-width: 100%;
		margin: 0 20px 0 64px;
	}

	.header-content.-center.-drop-menu .categories {
		text-align: left;
	}

	.header-content.-center.-drop-menu .search-bar .search-btn {
		right: 1vw;
	}
}

.header-content .mini-cart-holder {
	flex: 0 1 auto;
}

.header-content .categories {
	margin-top: 9px;
	flex: 1;
}

.header-content .categories svg {
	margin-right: 10px;
}

.dropdown-holder:hover > .dropdown {
  visibility: visible;
  opacity: 1;
}

.header-content .categories .category-dropdown-holder {
	cursor: default;
}

.header-content .categories .category-dropdown-holder > span {
	font-weight: var(--font-bold);
}

.header-content .categories > ul {
	--category-spacing: 16px;
	margin-top: -4px;
	font-size: 0;
	margin-left: calc(var(--category-spacing) * -1);
	margin-right: calc(var(--category-spacing) * -1);
}

.header-content .categories ul li {
	font-size: var(--fonts-texts-size);
}

.header-content .categories ul li a, .header-content .categories ul li .padding {
	padding-left: var(--category-spacing);
	padding-right: var(--category-spacing);
}

.header-content .categories ul li a:not(.block) {
	display: inline-block;
}

.header-content .categories ul li .padding {
	font-size: 0;
}

.header-content .categories ul li .padding span {
	font-size: var(--font-14);
}

.header-content .logo {
	color: #fff;
}

.search-bar {
  font-size: 0;
}

.header-content .holder-search {
	position: relative;
	display: inline-block;
	width: 100%;
	max-width: 240px;
	flex: 1 0 170px;
	min-height: 45px;
}

.header-content .search-btn {
	position: absolute;
	padding: 5px;
	top: 9px;
	right: 20px;
	cursor: pointer;
}

.header-content .dropdown {
	background-color: white;
	color: var(--black-dark);
}

@media only screen and (min-width: 701px) {
  .category-dropdown-holder > a > svg {
    display: none;
  }
}


/* Subcategory dropdown */
.header-content .category-subcategory-menu {
  width: 218px;
	padding: 28px 0 32px;
	background-color: var(--default-background-color);
  margin-top: 0;
	border: 0;
	z-index: 3;
}

.header-content .dropdown.category-subcategory-menu.dropdown:after, .header-content .dropdown.category-subcategory-menu.dropdown:before {
	left: 50px;
}

.header-content .dropdown.category-subcategory-menu.dropdown:after {
	border-bottom-color: var(--default-background-color);
}

.header-content .dropdown.category-subcategory-menu.is-active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.header-content .dropdown.category-subcategory-menu .holder-categories.-is-loading {
	display: none;
}

.header-content .dropdown.category-subcategory-menu .holder-categories > ul li.item-category {
	position: static;
	font-size: var(--font-16);
}

.header-content .dropdown.category-subcategory-menu .holder-categories > ul li.item-category .dropdown {
	z-index: 2;
}

.category-subcategory-menu .item-category > a {
  padding-left: 32px !important;
  padding-right: 32px !important;
  display: flex;
  justify-content: space-between;
}

.category-subcategory-menu .item-category > a svg {
  margin: 0;
  transform: rotate(-90deg);
  align-self: flex-start;
  margin-top: 9px;
  flex: 0 0 auto;
}

.header-content .dropdown.category-subcategory-menu .holder-sub-categories {
	position: absolute;
	padding: 32px 40px 40px;
	min-width: 220px;
	min-height: 100%;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	box-shadow: none;
	left: 100%;
	top: 0;
}

.header-content .dropdown.category-subcategory-menu .holder-sub-categories li {
	color: var(--black-medium);
}

.header-content .dropdown.category-subcategory-menu .holder-sub-categories li.all-products {
	display: none;
}

.header-content .dropdown.category-subcategory-menu .holder-sub-categories li a {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.header-content .dropdown.category-subcategory-menu .parent-category-name {
	color: var(--color-general-primary);
	font-size: var(--font-16);
	margin-bottom: 22px;
}

.header-content .dropdown.category-subcategory-menu .close-dropdown {
	margin-bottom: 30px;
	padding: 11px 15px 11px 16px;
	font-size: var(--font-13);
	color: var(--black-medium);
	border-radius: var(--theme-border-radius);
	background-color: var(--default-background-color);
	background-repeat: no-repeat;
	background-position: 16px center;
}

.header-content .dropdown.category-subcategory-menu .close-dropdown svg {
  transform: rotate(90deg);
  margin-bottom: 1px;
  fill: var(--black-medium);
  width: 9px;
  height: 5px;
}

@media only screen and (max-width: 700px) {
	.active-dropdown > .dropdown {
    transform: translate3d(0, 0, 0) !important;
    min-height: 100vh;
    max-height: 100vh;
    box-shadow: none !important;
    padding-bottom: 100px !important;
    overflow-y: scroll;
	}
	
	.category-dropdown-holder {
		position: static;
		background-repeat: no-repeat;
		background-position: 100% center;
	}
	
	.header-content .dropdown.category-subcategory-menu, .header-content .holder-sub-categories.dropdown {
		top: 0;
		left: 0;
		width: 100%;
		border-radius: 0;
		background-color: white;
    padding: 32px 24px;
		border: 0;
		display: block;
		opacity: 1;
		visibility: visible;
		transform: translate3d(-100%, 0, 0);
		transition: transform 0.3s !important;
	}

  .header-content .categories ul li a:not(.block) {
  	display: flex;
    justify-content: space-between;
  }

  .category-dropdown-holder > span > svg {
    display: none;
  }

  .category-dropdown-holder svg {
    transform: rotate(-90deg);
  }
	
	.header-content .dropdown.category-subcategory-menu .holder-sub-categories {
		padding: 32px 24px;
	}
	
	.header-content .dropdown.category-subcategory-menu .holder-sub-categories li {
		color: var(--black-dark);
	}
	
	.header-content .dropdown.category-subcategory-menu .holder-categories > ul li.item-category {
		font-size: var(--font-14);
	}
	
	.header-content .dropdown.category-subcategory-menu .holder-categories > ul li.item-category.has-subdropdown {
		background-position: calc(100% - 24px) 20px;
	}
	
	.header-content .dropdown.category-subcategory-menu .holder-categories > ul li.item-category.has-subdropdown > a {
		pointer-events: none;
	}
	
	.header-content .dropdown.category-subcategory-menu .holder-categories > ul li.item-category > a {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	
	.category-title, .parent-category-name {
		margin-bottom: 20px;
		padding-bottom: 18px;
		line-height: 24px !important;
		font-size: var(--font-18) !important;
		color: var(--black-dark) !important;
		border-bottom: solid 1px var(--default-background-color);
	}
}

@media only screen and (max-width: 700px) {
  .header-topbar {
    display: none !important;
  }

  .header-content {
    flex-wrap: wrap;
  }

  .menu-trigger-holder {
    width: 55px;
    flex: 0 1 auto;
    padding: 14px 0;
  }

  .header-content .logo {
    margin: 0 !important;
    z-index: 1;
    flex: 1;
    display: flex;
  }

  .header-content .logo img {
    max-width: 130px;
    max-height: 130px;
  }

  .header-content .holder-search {
    flex: 1 1 100%;
    order: 4;
    max-width: unset;
    margin-top: 24px;
  }

  .header-content .categories > ul {
    margin: 0;
  }

  .header-content .categories ul li a, .header-content .categories ul li .padding {
    padding: 0;
  }

  .categories {
  	position: fixed;
  	display: flex;
  	width: 75%;
  	max-width: 280px;
  	height: 100%;
    margin: 0 !important;
  	background-color: #fff;
  	color: var(--black-dark);
  	transform: translate3d(-100%, 0, 0);
  	transition: transform 0.3s;
  	top: 0;
  	left: 0;
  	z-index: 10;
  	padding: 32px 24px !important;
  	flex-wrap: wrap;
  	overflow-y: auto;
  	align-content: flex-start;
  }
  
  .categories .categories-menu {
  	width: 100%;
  	display: block;
  }
  
  .categories .categories-menu > li {
  	padding: 9px 0;
  }
  
  .categories .categories-menu .category-dropdown-holder {
  	line-height: 40px;
  	padding: 0;
  }
  
  .categories .categories-menu .category-dropdown-holder span {
  	pointer-events: none;
  }

  .categories > * {
    flex: 1 1 100%;
  }
  
  .categories ul li {
  	display: block;
    padding: 11px 0;
  }
  
  .categories ul li a, .categories ul li .padding {
  	padding: 0;
  	align-items: center;
    font-size: var(--font-14);
  }
  
  .categories ul li .padding {
  	pointer-events: none;
  }
  
  .categories ul .icon-tracker {
  	margin-left: 3px;
  	margin-right: 10px;
  }
  
  .categories ul svg {
  	fill: var(--black-dark);
  }

  .header-content hr {
    margin: 20px 0;
  }
  
  .categories .phone-link, .categories .phone-link_whatsapp {
  	padding: 12px 0;
  	font-size: var(--font-12);
  	line-height: 18px;
  }
  
  .categories .icon-whatsapp {
  	margin-right: 10px;
  	width: 14px;
  	height: 14px;
  }
  
  .categories .icon-phone {
  	margin-right: 13px;
  	width: 11px;
  	height: 11px;
  }

  .categories .-order-2 {
    order: 1;
  }

  .header-content .category-subcategory-menu.dropdown.is-active {
    transform: translate3d(0, 0, 0);
    overflow: scroll;
  }
}
