.modal-body {
  width: 91.45%;
  max-width: 500px;
  padding: 30px 40px;
  box-shadow: 0px 16px 50px rgba(34, 34, 34, 0.16);
  border-radius: var(--theme-border-radius);
  background: #FFF;
}

.modal-content {
  margin-top: 14px;
}

.modal-body:not(.scrollable) {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-body.scrollable {
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 132px;
  margin-bottom: 80px;
}

.modal {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(var(--black-dark-rgb),.7);
  transition: opacity var(--modal-transition-time), visibility 0s var(--modal-transition-time);
}

.modal.active {
  opacity: 1;
  visibility: visible;
  overflow: auto;
  transition: opacity var(--modal-transition-time);
}

.modal .theme-title {
    font-size: 30px;
    line-height: 34px;
}

.modal .table-title {
  margin-top: 4px;
  margin-bottom: 12px;
  font-size: var(--font-14);
  color: var(--black-medium);
}

.modal .close-modal {
  margin-top: -6px;
  cursor: pointer;
  align-self: flex-start;
}

.modal .close-modal:not(:hover) {
    opacity: var(--default-opacity);
}

#modal-installments .modal-body {
  max-width: 570px;
}

#modal-installments .modal-content {
 overflow-y: scroll;
 max-height: 60vh;
}

#modal-installments .custom-select-image-prefix {
  margin-bottom: 34px;
}

#modal-installments table {
 font-size: 14px;
}

#modal-product-zoom .modal-body {
  max-width: unset;
  max-height: 90%;
  width: auto;
  overflow: auto;
}

#modal-product-zoom .modal-body .flex.-between {
  position: sticky;
  top: 0;
}

#modal-product-zoom .close-modal {
  margin-left: auto;
  transform: translateX(calc(100% + 5px));
}

#modal-product-zoom .modal-content {
  overflow: auto;
  margin-top: -30px;
}

#modal-product-zoom img {
  width: 1000px;
  height: auto;
}

@media only screen and (max-width: 700px) {
  .modal-body {
    padding: 30px 20px;
  }

  .modal .theme-title {
    width: 80%;
    font-size: 25px;
    line-height: 28px;
  }

  .modal .custom-select-image-prefix {
    width: 100%;
  }

  #modal-product-zoom .modal-body {
    width: 100vw;
  }

  #modal-product-zoom img {
    width: 100%;
  }

  #modal-product-zoom .close-modal {
    transform: translate(14px, -9px);
  }

}