.video {
  text-align: center;
  background-color: var(--default-background-color);
  padding: 60px 0 130px;
}

.video .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video .embed-container iframe, .video .embed-container object, .video .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video .theme-title:empty {
  height: 37px;
}

.video .yt-video {
  margin: 40px auto 0;
  width: 80vw;
  max-width: 950px;
  height: 40.6vw;
  max-height: 534px;
}

.video .yt-video > div, .video .yt-video > div > div, .video .yt-video iframe, .video .yt-video img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 700px) {
  .video {
    padding: 40px 0 58px;
  }
  .video .theme-title:empty {
    height: 0;
  }
  .video .yt-video {
    margin-top: 20px;
  }

  .video .container.-remove-overflow {
    overflow-x: visible;
  }
}
