.products-list {
	font-size: 0;
	flex-wrap: wrap;
  position: relative;
}

 .products-list.flex, .products-list > .flex {
	margin-left: -16px;
	margin-right: -16px;
}

 .products-list.flex .box-product, .products-list > .flex .box-product, .products-list.flex .box-product-wrapper, .products-list > .flex .box-product-wrapper {
	margin-left: 16px;
	margin-right: 16px;
	flex: 1 0 215px;
}

 .products-list.flex .box-product-wrapper .box-product, .products-list > .flex .box-product-wrapper .box-product {
	margin-left: 0;
	margin-right: 0;
}

 @media only screen and (max-width: 1000px) {
	.products-list.flex .box-product, .products-list > .flex .box-product, .products-list.flex .box-product-wrapper, .products-list > .flex .box-product-wrapper {
		flex: 1 0 175px;
	}
}