{% if product_url_video %}
  <link href="{{ 'product-video.css' | asset_url }}" rel="stylesheet">

  <section id="holder-main-product-video" class="video">
    <div class="container -remove-overflow">
      <div class="theme-title">{{ section.settings.title }}</div>
      <div class="yt-video">
        <iframe 
          src="{{ product_url_video }}" 
          frameborder="0" 
          allowfullscreen="allowfullscreen" 
          allow="accelerometer;
                    autoplay;
                    clipboard-write;
                    encrypted-media;
                    gyroscope;
                    picture-in-picture"
        >
        </iframe>            
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Seção de compre junto",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Título da seção",
      "default": "Vídeo"
    }
  ]
}
{% endschema %}