<div class="mini-cart-holder">
  <div class="dropdown-holder">
    {% render 'icon-cart' %}
    <span class="cart-quantity">0</span>
    {% if settings.cart_type == 'dropdown' %}
      {% render 'dropdown-cart' %}
    {% endif %}
  </div>
</div>

{% if settings.cart_type == 'side_cart' %}
 {% render 'side-cart' %}
{% endif %}

<template id="empty-cart">
    {% style %}
      .empty-cart {
         padding: 69px 68px 64px;
         text-align: center;
         color: var(--black-light);
         line-height: 1.4;
         max-width: 100%;
      }
  
       .empty-cart .-title {
         font-size: var(--font-18);
      }
  
       .empty-cart .-subtitle * {
         font-size: var(--font-15);
         color: var(--black-light);
      }
  
       .empty-cart .icon {
         margin-bottom: 19px;
      }
  
       .empty-cart .-cta-holder {
         display: flex;
         justify-content: center;
      }
  
       .empty-cart .-cta {
         background-color: var(--black-medium);
         border-radius: var(--theme-border-radius);
         color: var(--white);
         cursor: pointer;
         display: flex;
         font-weight: var(--font-bold);
         justify-content: center;
         margin-top: 25px;
         max-width: 280px;
         padding: 18px 17px;
         text-decoration: none;
         text-transform: uppercase;
         transition: opacity 0.3s;
         width: 100%;
      }
  
       .empty-cart .-cta:hover {
         opacity: var(--default-opacity);
      }
    {% endstyle %}
  
    <div class="empty-cart">
      {% render 'icon-empty-cart' %}
      <div class="-title">
        Seu carrinho está vazio
      </div>

      <span>
        <div class="-subtitle">
          {{ settings.empty_cart_helper_text }}
        </div>
      </span>

      <div class="-cta-holder">
        <a href="#" class="-cta">
          {{ settings.empty_cart_text_button }}
        </a>
      </div>
    </div>
</template>