<div class="dropdown">
  <dropdown-cart 
    id="mini-cart" 
    data-show-cart-savings="{{ settings.show_cart_savings }}"
    data-show-product-cart-savings="{{ settings.show_product_cart_savings }}"
    data-show-modal="{{ settings.show_modal_after_purchase }}"
  ></dropdown-cart>
</div>