<inventory-countdown class="main-product-inventory-countdown">
    <div class="quantity-left-text">
        Apenas
        <span class="quantity-left"></span>
        produtos
        <span class="inline-block">
            em estoque
        </span>
    </div>

    <div class="percentage-bar-holder">
        <div class="percentage-bar"></div>
    </div>

    <div class="countdown flex -vcenter -hcenter">
        <span class="countdown-text">Oferta acaba em</span>
        <stopwatch-timer class="countdown-timer"></stopwatch-timer>
    </div>
</inventory-countdown>
