<div
    class="holder-search"
>
    <form
        id="product-search"
        class="search-bar"
        action="/busca"
    >
        <label
            class="-hide"
            for="product-name"
        >Busca</label>
        <input
            id="product-name"
            type="text"
            name="product-name"
            placeholder="Buscar produto"
        >
        <span
            class="search-btn"
        >
            {%- render 'icon-search' -%}
        </span>
    </form>
</div>