<shipping-form class="main-product-shipping">
  <label for="zipcode">SIMULAR FRETE</label>

  <form id="form-zipcode">
    <div class="-holder relative">
      <input type="tel" placeholder="Ex.: 00000-000">

      <button class="btn btn-secundary -small">OK</button>
    </div>
  </form>
</shipping-form>
