<shipping-form
  class="main-product-shipping"
  data-option-id="{{ product.sku_id }}"
  data-product-price="{{ product.prices.data.price }}"
  data-custom-shipping="{{ product.custom_shipping }}"
  data-shipping-price="{{ product.shipping_price }}"
>
  <label for="zipcode">SIMULAR FRETE</label>

  <form id="form-zipcode">
    <div class="-holder relative">
      <input type="tel" placeholder="Ex.: 00000-000" name="zipcode" id="zipcode">

      <button class="btn btn-secundary loader-button -small">
        OK
        <svg viewBox="0 0 36 8"><circle cx="4" cy="4" r="4"><animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin=".1"></animate></circle> <circle cx="18" cy="4" r="4"><animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin=".2"></animate></circle> <circle cx="32" cy="4" r="4"><animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin=".3"></animate></circle></svg>
      </button>
    </div>
  </form>
</shipping-form>

<modal-dialog id="modal-shipping" class="modal" tabindex="-1">
  <div class="modal-body">
    <div class="flex -between">
      <div class="modal-header">
        <div class="theme-title">
          Simular frete
        </div>
        <div class="subtitle">
          Para o cep
          <span class="selected-zipcode"></span>
          <span class="-divisor"> | </span>
          <span class="selected-city"></span>
        </div>
      </div>
      <div class="close-modal">
        {% render 'icon-close' %}
      </div>
    </div>
    <div class="modal-content">
      <table class="table"></table>
      <div class="disclaimer">
        Prazo de entrega a partir da aprovação de pagamento <span class="display-hibrid">e envio ao operador logístico.</span>
      </div>
    </div>
  </div>
</modal-dialog>