<side-cart 
  data-show-cart-savings="{{ settings.show_cart_savings }}"
  data-show-product-cart-savings="{{ settings.show_product_cart_savings }}"
>
  <div class="navigation-drawer-background" id="mini-cart">
  </div>
</side-cart>
