<style>
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

  .preview-bar button:hover {
    cursor: pointer;
  }
  
  .preview-bar .primary-button {
    background-color: #503296;
    height: 48px;
    padding: 12px 31px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: #FFF;
    border-radius: 4px;
    border: 0;
  }

  .preview-bar .primary-button.sending svg {
    fill: #FFF;
  }

  .preview-bar .primary-button.-danger {
    background-color: #EF5D5E;
  }

  .preview-bar .primary-button:hover {
    opacity: 0.9;
  }

  .preview-bar .secondary-button {
    background-color: #FFF;
    height: 48px;
    padding: 12px 31px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: #56545E;
    border-radius: 4px;
    border: 1px solid #14131633;
    margin: 0 8px 0 0;
    align-self: unset;
  }

  .preview-bar .tertiary-button {
    height: 32px;
    padding: 5px 0;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    color: #503296;
    background-color: #FFF;
    margin-right: 45px;
    border: 0;
  }

  .preview-bar .tertiary-button:hover {
    color: #582DB4;
  }
  
  .holder-preview-bar {
    width: 100%;
    height: 74px;
    padding: 0 32px 0 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: #FFF;
    border-top: 1px solid #ECECEE;
    font-family: "Rubik", sans-serif;
  }

  .holder-preview-bar .text {
    max-width: 497px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.35;
    color: #56545E;
  }

  #modal-publish .modal-body {
    padding: 0;
    max-width: 630px;
    border-radius: 0;
    color: #141316;
    font-family: "Inter", sans-serif;
  }

  #modal-publish .modal-header {
    background-color: #F7F7F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 42px 0 30px;
    height: 92px;
    font-size: 24px;
    line-height: 1.6;
    font-weight: 400;
  }

  #modal-publish .close-modal {
    margin-top: 0;
    align-self: unset;
  }

  #modal-publish .modal-content {
    padding: 0 121px;
    margin-top: 32px;
  }

  #modal-publish .modal-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 32px;
  }

  #modal-publish .modal-content ul li {
    display: flex;
  }

  #modal-publish .modal-content ul li:not(:first-child) {
    margin-top: 39px;
  }

  #modal-publish .modal-content .holder-icon {
    margin-right: 11px;
  }

  #modal-publish .modal-content .holder-icon svg {
    background-color: #F5F2FB;
    border-radius: 8px;
  }

  #modal-publish .modal-content .holder-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
  }

  #modal-publish .modal-content .holder-text a {
    padding: 0;
    margin-top: 12px;
    color: #503296;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    display: flex;
    align-items: center;
  }

  #modal-publish .modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
    padding: 40px 38px;
    border-top: 1px solid #ECECEE;
  }

  .toast:not(.show) {
    visibility: hidden;
    opacity: 0;
  }

  .toast.show {
    animation: 4s forwards fadeIn;
  }

  .toast.hide {
    animation: 1s forwards fadeOut;
  }

  .toast.-success {
    position: fixed;
    bottom: 27px;
    left: calc(50% - 190px);
    background-color: #57C775;
    border-radius: 6px;
    padding: 12px;
    color: #FFF;
    display: flex;
    width: 380px;
    align-items: center;
  }

  .toast .holder-icon {
    margin-right: 8px;
  }

  .toast p {
    font-size: 16px; 
    line-height: 1.6;
    font-weight: 600;
  }

  .toast .subtitle {
    font-weight: 400;
  }

  .toast .holder-close {
    opacity: 0.3;
  }

  .toast .holder-close:hover {
    cursor: pointer;
    opacity: 1;
  }

  @keyframes fadeIn {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }

    50% { 
      transform: translateY(0);
      opacity: 1;
    }

    75% {
      transform: translateY(0);
      opacity: 1;
    }

    100% {
      transform: translateY(0);
      opacity: 0;
    }
  }

  @keyframes fadeOut {
    0% {
      transform: translateY(0);
      opacity: 0;
    }

    50% {
      transform: translateY(0);
      opacity: 1;
    }

    75% {
      transform: translateY(0);
      opacity: 0;
    }

    100% {
      transform: translateY(50px);
      opacity: 0;
    }
  }
</style>

<section class="preview-bar">
  <div class="holder-preview-bar">
    <span class="text">
      Esta é a prévia da página de produtos da sua loja com os arquivos salvos. Publique para tornar esta versão disponível para seus clientes.
    </span>
  
    <div class="holder-buttons">
      <button class="tertiary-button close-section">
        Fechar prévia
      </button>
      <modal-opener data-modal="#modal-publish">
        <button class="primary-button">
          Publicar
        </button>
      </modal-opener>
    </div>
  </div>
  
  <modal-dialog id="modal-publish" class="modal" tabindex="-1">
    <div class="modal-body">
      <div class="modal-header">
        Publicar alterações
        
        <div class="close-modal">
            <svg width="40" height="40" viewBox="0 0 32 32" fill="#757280" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M24.1846 25.5992L6.40088 7.81552L7.81509 6.40131L25.5988 24.185L24.1846 25.5992Z"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.40088 24.185L24.1846 6.40131L25.5988 7.81552L7.8151 25.5992L6.40088 24.185Z"/>
            </svg>
        </div>
      </div>
      <div class="modal-content">
        <p>Ao publicar, as alterações estarão disponíveis para seus clientes. Lembre que:</p>
        <ul>
          <li>
            <div class="holder-icon">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M26.4762 15.793C26.4762 9.97174 21.7089 5.25 15.8626 5.25C10.0168 5.25 5.25 9.97183 5.25 15.793C5.25 21.6136 10.0169 26.3349 15.8626 26.3348C17.4759 26.3348 19.0722 25.9689 20.5137 25.2707L25.4711 26.7103C25.8245 26.8129 26.2057 26.7132 26.4635 26.4506C26.7213 26.1881 26.8141 25.8051 26.7051 25.4537L25.2407 20.7336C26.0508 19.218 26.4762 17.5218 26.4762 15.793ZM15.8626 7.25C20.6182 7.25 24.4762 11.0902 24.4762 15.793C24.4762 17.3164 24.0686 18.8064 23.2975 20.1097C23.1536 20.3528 23.1193 20.6454 23.203 20.9152L24.2443 24.2714L20.6917 23.2398C20.441 23.167 20.1718 23.1951 19.9415 23.3181C18.6979 23.9827 17.2892 24.3348 15.8626 24.3348C11.1075 24.3349 7.25 20.4952 7.25 15.793C7.25 11.0901 11.1076 7.25 15.8626 7.25Z" fill="#503296"/>
              </svg>
            </div>
            <div class="holder-text">
              Não prestamos suporte para alterações feitas via código.
            </div>
          </li>
          <li>
            <div class="holder-icon">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M24.8637 5.60448C24.9707 5.63597 25.4365 5.77305 25.8311 6.16759C26.2256 6.56213 26.3627 7.02793 26.3942 7.13495L26.397 7.14454C26.4538 7.33522 26.489 7.52423 26.5124 7.68219C26.5605 8.00614 26.5862 8.38492 26.5933 8.78539C26.6076 9.59441 26.548 10.6337 26.3653 11.7619C26.0097 13.9571 25.132 16.8291 23.0747 18.8863C22.6841 19.277 22.1635 19.6312 21.6622 19.9321C21.8957 21.0444 21.7651 22.2995 21.4517 23.4965C21.0947 24.8604 20.4726 26.2562 19.7149 27.4762C19.2305 28.2562 18.3576 28.5403 17.5815 28.2431C16.8497 27.9627 16.3723 27.2327 16.3856 26.3869C16.4011 25.3991 16.3724 24.4034 16.2417 23.5248C16.1897 23.175 16.1237 22.8602 16.0448 22.5817C15.7758 22.6917 15.5252 22.7927 15.2995 22.8828C13.8083 23.4778 12.1387 23.101 11.0329 21.9952L9.92614 20.8885C8.90328 19.8656 8.48 18.3285 8.96546 16.8807C9.05992 16.599 9.17173 16.2754 9.29948 15.9223C9.05096 15.8574 8.77562 15.8023 8.47434 15.7574C7.59576 15.6268 6.60004 15.598 5.61227 15.6136C4.76646 15.6269 4.03643 15.1495 3.75609 14.4176C3.45883 13.6416 3.74296 12.7687 4.52295 12.2843C5.74298 11.5266 7.13879 10.9045 8.50261 10.5474C9.66862 10.2422 10.8897 10.1103 11.9803 10.3195C12.3276 9.8084 12.7052 9.33103 13.1123 8.9239C15.1696 6.86664 18.0415 5.98894 20.2367 5.63338C21.3649 5.45064 22.4042 5.39107 23.2133 5.40535C23.6137 5.41242 23.9925 5.43814 24.3165 5.48623C24.4744 5.50969 24.6634 5.54479 24.8541 5.60164L24.8637 5.60448ZM10.8751 12.2179C10.3284 12.2151 9.69762 12.302 9.00914 12.4822C8.08308 12.7247 7.11716 13.1195 6.21874 13.61C7.06441 13.614 7.94339 13.6565 8.7686 13.7792C9.19081 13.842 9.61793 13.9284 10.0304 14.0496C10.1741 13.7086 10.3271 13.3612 10.4885 13.0142C10.6095 12.7542 10.7384 12.4872 10.8751 12.2179ZM19.3283 21.15C19.4781 21.0794 19.6279 21.0078 19.7766 20.9356C19.803 21.5239 19.7182 22.2209 19.5169 22.99C19.2745 23.9161 18.8797 24.882 18.3891 25.7804C18.3851 24.9347 18.3427 24.0558 18.2199 23.2305C18.1485 22.75 18.0464 22.2631 17.8973 21.7987C18.3714 21.5911 18.8558 21.3726 19.3283 21.15ZM24.4168 7.5818C24.0601 7.22511 17.776 7.08864 14.5265 10.3381C12.8593 12.0054 11.483 15.6637 10.8617 17.5166C10.6301 18.2071 10.8254 18.9592 11.3404 19.4743L12.4471 20.581C13.0024 21.1363 13.8288 21.3163 14.5582 21.0252C16.5926 20.2134 20.603 18.5296 21.6605 17.4721C24.91 14.2226 24.7735 7.9385 24.4168 7.5818ZM21.1752 13.2572C20.5034 13.929 19.4143 13.929 18.7425 13.2572C18.0707 12.5854 18.0707 11.4963 18.7425 10.8245C19.4143 10.1528 20.5034 10.1528 21.1752 10.8245C21.8469 11.4963 21.8469 12.5854 21.1752 13.2572ZM6.58208 25.4174C6.67126 25.5065 8.30984 25.4731 9.19363 24.5893C9.81467 23.9683 9.65133 23.1361 9.25733 22.7421C8.86333 22.3481 8.03117 22.1848 7.41013 22.8058C6.52635 23.6896 6.49291 25.3282 6.58208 25.4174Z" fill="#503296"/>
              </svg>
  
            </div>
            <div class="holder-text">
              Recomendamos testar sua loja após a publicação para verificar se tudo está funcionando corretamente.
              <a href="#">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 2px; margin-bottom: 1px;">
                  <path d="M19.5565 5.24609L19.5565 11.3501H18.0565V7.05616L11.0114 14.1013L9.95071 13.0406L16.9953 5.99609L12.7025 5.99609V4.49609H18.8065C19.0054 4.49609 19.1962 4.57511 19.3368 4.71576C19.4775 4.85642 19.5565 5.04718 19.5565 5.24609Z" fill="#503296"/>
                  <path d="M16.4434 18.0042V13.6885H17.9434V18.0042C17.9434 18.8326 17.2718 19.5042 16.4434 19.5042H5.94336C5.11493 19.5042 4.44336 18.8326 4.44336 18.0042V7.50418C4.44336 6.67575 5.11493 6.00418 5.94336 6.00418H10.2855V7.50418H5.94336L5.94336 18.0042L16.4434 18.0042Z" fill="#503296"/>
                </svg>
  
                <span>Guia para testar sua loja após a publicação</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button class="secondary-button close-modal">
          Cancelar
        </button>
        <button class="loader-button primary-button -danger" type="submit">
          Publicar
          <svg viewBox="0 0 36 8">
            <circle cx="4" cy="4" r="4">
              <animate
              attributeName="opacity"
              dur="1s"
              values="0;1;0"
              repeatCount="indefinite"
              begin=".1"
              ></animate>
            </circle>
            <circle cx="18" cy="4" r="4">
              <animate
              attributeName="opacity"
              dur="1s"
              values="0;1;0"
              repeatCount="indefinite"
              begin=".2"
              ></animate>
            </circle>
            <circle cx="32" cy="4" r="4">
              <animate
              attributeName="opacity"
              dur="1s"
              values="0;1;0"
              repeatCount="indefinite"
              begin=".3"
              ></animate>
            </circle>
          </svg>
        </button>
      </div>
    </div>
  </modal-dialog>

  <toast-notification class="toast -success">
    <div class="holder-icon">
      <svg width="40" height="40" viewBox="0 0 40 40" fill="#FFF" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M19.9994 6.25098C27.593 6.25098 33.7488 12.4068 33.7488 20.0004C33.7488 27.5939 27.593 33.7498 19.9994 33.7498C12.4058 33.7498 6.25 27.5939 6.25 20.0004C6.25 12.4068 12.4058 6.25098 19.9994 6.25098ZM31.2488 20.0004C31.2488 13.7875 26.2123 8.75098 19.9994 8.75098C13.7865 8.75098 8.75 13.7875 8.75 20.0004C8.75 26.2132 13.7865 31.2498 19.9994 31.2498C26.2123 31.2498 31.2488 26.2132 31.2488 20.0004Z" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M25.7816 17.5187L19.7371 23.8273C19.4659 24.1102 19.091 24.2702 18.6991 24.2702C18.3072 24.2703 17.9323 24.1102 17.6612 23.8273L14.2166 20.2324L16.2925 18.2434L18.6991 20.755L23.7056 15.5297L25.7816 17.5187Z" />
      </svg>
    </div>
    <div class="holder-text">
      <p class="title">Alterações publicadas</p>
      <p class="subtitle">Esta é a sua página de produtos disponível para seus clientes</p>
    </div>
    <div class="holder-close">
      <svg width="40" height="40" viewBox="0 0 32 32" fill="#FFF" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M24.1846 25.5992L6.40088 7.81552L7.81509 6.40131L25.5988 24.185L24.1846 25.5992Z"></path>
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M6.40088 24.185L24.1846 6.40131L25.5988 7.81552L7.8151 25.5992L6.40088 24.185Z"></path>
      </svg>
    </div>
  </toast-notification>
</section>

<script>
class ToastNotification extends HTMLElement {
  constructor() {
    super();
  }

  connectedCallback() {
    this.toast = this;
    this.closeBtn = this.querySelector('.holder-close');
    this.closeBtn.addEventListener('click', this.closeToast.bind(this));
  }

  showToast() {
    this.toast.classList.add('show');

    window.setTimeout(() => {
      this.toast.classList.remove('show');
    }, 4000);
  }

  closeToast(event) {
    this.toast.classList.add('hide');
    window.setTimeout(() => {
      this.toast.classList.remove('hide');
      this.toast.classList.remove('show');
    }, 1000);
  }
}

customElements.define('toast-notification', ToastNotification);
  
const publishRequest = async (event) => {
  const url = '/api/v1/merchants/themes/publish?preview=true';

  const modal = document.getElementById('modal-publish');
  const button = event.target;
  try {
    button.classList.add('sending'); 
    
    const response = await fetch(url, {
      credentials: 'include'
    });
  
    const data = await response.json();
  
    if (!response.ok) {
      throw new Error(data.message);
    }
    
    modal.closeModal();
    showSuccessToast();
  } catch (error) {
    console.error(error);
  } finally { 
    button.classList.remove('sending');
  }
}

showSuccessToast = () => {
  const toast = document.querySelector('.preview-bar .toast');

  toast.classList.add('show');

  window.setTimeout(() => {
    toast.classList.remove('show');
  }, 3000);
}
  
const publishButton = document.querySelector('#modal-publish button[type="submit"]');
publishButton.addEventListener('click', publishRequest);

const closeButton = document.querySelector('.preview-bar .close-section');
closeButton.addEventListener('click', (event) => {
  document.querySelector('.preview-bar').style.display = 'none';
});
</script>
